@import 'mixins'

body.pages-home
  #header
    inset-line(0.7)
    vbg-gradient(#F4F4F4, darken(#F4F4F4, 10%))
    border-bottom: 1px solid lighten(#CCCCCC, 10%)

  header.intro
    padding: 10px
    text-align: center
    
    h3
      margin: 8px 5px 0 20px
      font-size: 25px
      font-weight: normal

  article footer
      padding: 5px 0 0 0
      overflow: hidden
      text-align: center
      
  aside
    display: block
    overflow: hidden
    padding: 10px 0 0 20px
     
  aside section
    float: left
    width: 204px
    border: 1px solid darken(#CCCCCC, 0%)
    border-radius(5px)
    box-shadow(0, 1px, 0px, rgba(0, 0, 0, 0.1))
    margin: 0 20px 20px 0
    
    p
      margin: 6px
  
    header
      vbg-gradient(#F4F4F4, darken(#F4F4F4, 10%))
      border-bottom: 1px solid darken(#CCCCCC, 5%)
      padding: 6px 8px
      -webkit-border-radius: 5px 5px 0 0
      font-weight: bold
      text-shadow: 0 1px 0 #FFF
      inset-line(0.7)
      
  .bcta
    font-size: 20px
    margin: 5px 0 20px
    button, .cta
      font-size: 20px
      margin: 0 5px
      
body.pages-examples
  article
    width: 500px
    margin: 40px auto
    
    img
      display: block
      margin: 0 auto