@import 'mixins'

body.pages-index
  #header
    inset-line(0.7)
    vbg-gradient(lighten(#F4F4F4, 10%), darken(#F4F4F4, 5%))
    border-bottom: 1px solid lighten(#CCCCCC, 10%)

  header.intro
    padding: 10px
    text-align: center
    overflow: hidden
    
    h2
      margin: 10px 0 20px 0
    
    h3
      margin: 8px 5px 0px 20px
      font-size: 25px
      font-weight: normal

  article footer
      padding: 5px 0 0 0
      overflow: hidden
      text-align: center
      
  aside
    display: block
    overflow: hidden
    padding: 10px 0 0 20px
     
  aside section
    float: left
    width: 204px
    border-radius(5px)
    margin: 0 20px 20px 0
    
    p
      margin: 6px
  
    header
      padding: 6px 8px
      -webkit-border-radius: 5px 5px 0 0
      font-weight: bold
      text-shadow: 0 1px 0 #FFF
      inset-line(0.7)
      
  .bcta
    font-size: 20px
    margin: 5px 0 20px
    button, .cta
      font-size: 20px
      margin: 0 5px
      
body.pages-examples
  article
    width: 500px
    margin: 40px auto
    
    img
      display: block
      margin: 0 auto
      
body.pages-start article, 
body.mobile-start article
  padding: 10px 30px
  font-size: 18px
      
  h3
    line-height: 1.5em
    font-size: 23px
    font-weight: normal
    text-align: center
    
  ol
    line-height: 1.5em