<% content_for(:title, "Examples") %>

<header class="heading">
  <h2>Examples</h2>  
</header>

<article>
  <p>The Global Guide application is a traveling guide built using Spine Mobile. It's a good demonstration of Spine Mobile's capabilities, such as transitions and multiple panels. <a href="http://globalguide-mobile.herokuapp.com/">[Demo]</a></p>
  
  <img src="https://lh6.googleusercontent.com/-KdcvqcsHFYM/TobZNGwPzoI/AAAAAAAABbI/9vmsT7LKHkM/s500/Screen%252520Shot%2525202011-10-01%252520at%25252010.10.57.png">
    
  <p>Spine Currency is a currency convertor app, a port of <a href="http://currency.io">currency.io</a> to Spine. The source is <a href="https://github.com/maccman/spine.mobile.currency">available on GitHub</a>. <a href="http://spine-mobile-currency.herokuapp.com">[Demo]</a></p>

  <img src="http://lh4.googleusercontent.com/-0P20sQ6DBVk/TobXOx3qS8I/AAAAAAAABa4/vwk4MVNMCmI/s500/Screen%252520Shot%2525202011-10-01%252520at%25252010.02.29.png" />
    
  <p>Spine Workout is a simple workout recorder to demonstrate Spine Mobile. The source is <a href="http://spine-workout.herokuapp.com">available on GitHub</a>. <a href="http://spine-workout.herokuapp.com">[Demo]</a></p>

  <img src="https://lh6.googleusercontent.com/-o_uvPNYFUUc/TobXzYHe4CI/AAAAAAAABa8/gzNnK6EGdmo/s500/Screen%252520Shot%2525202011-10-01%252520at%25252010.04.27.png" />
  
</article>