<header class="heading">
  <h2>Examples</h2>  
</header>

<article>
  <p>Global Guide</p>
  
  <img src="https://lh6.googleusercontent.com/-KdcvqcsHFYM/TobZNGwPzoI/AAAAAAAABbI/9vmsT7LKHkM/s500/Screen%252520Shot%2525202011-10-01%252520at%25252010.10.57.png">
  
  <hr />
  
  <p>Blah</p>

  <img src="http://lh4.googleusercontent.com/-0P20sQ6DBVk/TobXOx3qS8I/AAAAAAAABa4/vwk4MVNMCmI/s500/Screen%252520Shot%2525202011-10-01%252520at%25252010.02.29.png" />
  
  <hr />
  
  <p>Blah</p>

  <img src="https://lh6.googleusercontent.com/-o_uvPNYFUUc/TobXzYHe4CI/AAAAAAAABa8/gzNnK6EGdmo/s500/Screen%252520Shot%2525202011-10-01%252520at%25252010.04.27.png" />
  
</article>