<% content_for(:title, "Build Incredible Mobile Web Apps") %>

<header class="intro">
  <h2>Spine Mobile</h2>
  <h3>Build Incredible Mobile Web Apps</h3>
</header>

<article>
  <aside>
    <section>
      <header>UX</header>
      <p>Spine Mobile strives to give your applications a native look and feel, providing the best user experience possible.</p>
    </section>
    
    <section>
      <header>HTML5 &amp; CSS3</header>
      <p>Use familiar web technologies, such as HTML5 and CSS3, to easily design and develop mobile applications.</p>
    </section>
    
    <section>
      <header>Spine</header>
      <p>Developed using <%= link_to "Spine", pages_path %>, a JavaScript MVC framework. The perfect platform to build your applications on.</p>
    </section>    
    
    <%= link_to "More information...", mobile_path, :class => "more" %>
  </aside>
</article>