<header class="heading">
  <h2>Download</h2>  
</header>

<article>
  <%= link_to "Download (0.1.1)", pages_path("download"), :class => "cta" %>
  <%= link_to "Download Min (0.1.1)", pages_path("download"), :class => "cta" %>
  
  <h4>Node Package Manager</h4>
  
  <code><pre>npm install -g spine</pre></code>
  
  <p>Read the <%= link_to "getting started guide.", docs_path("started") %></p>
  
</article>