<header class="heading">
  <h2>Download</h2>  
</header>

<article>
  <%= link_to "Download (0.1.1)", pages_url("download"), :class => "cta" %>
  <%= link_to "Download Min (0.1.1)", pages_url("download"), :class => "cta" %>
  
  <h4>Node Package Manager</h4>
  
  <code><pre>npm install -g spine</pre></code>
  
  <h4>Sample application</h4>
  
  <code><pre>npm install -g spine
npm install -g spine.app
spine app myapp</pre></code>
  
</article>