<header class="heading">
  <h2>Examples</h2>  
</header>

<article>
  <p>Todos is a very simple to-do application. Users can CRUD tasks, and mark them as complete.
  The source is <a href="http://github.com/maccman/spine.todos">available on GitHub</a>. <a href="http://maccman.github.com/spine.todos">[Demo]</a></p>
  
  <img src="https://lh4.googleusercontent.com/_IH1OempnqUc/TZF16JZSTlI/AAAAAAAABKM/ojAu7OBqXp8/s500/Screen%20shot%202011-03-29%20at%2019.01.44.png"/>

  <p>Spine contacts is a simple address book, allowing users to CRUD contacts. The full source is <a href="http://github.com/maccman/spine.contacts">available on GitHub</a>. <a href="http://maccman.github.com/spine.contacts">[Demo]</a></p>
  <img src="https://lh5.googleusercontent.com/_IH1OempnqUc/TZpgYfnlUBI/AAAAAAAABKg/UYLhdmoc15o/s500/contacts.png" />

  <p>Holla is the most advanced example, and <a href="http://github.com/maccman/holla">can be found on GitHub</a>. Holla is a group chat application, and uses a combination of <a href="http://rubyonrails.org">Rails</a>, <a href="http://github.com/maccman/juggernaut">Juggernaut</a> and Spine to let users chat in realtime. *WebKit only*. <a href="http://maccman-holla.heroku.com">[Demo]</a></p>
  
  <img src="https://lh4.googleusercontent.com/_IH1OempnqUc/TZF1gMnidmI/AAAAAAAABKE/b9rp9RdtA3o/s500/Screen%20shot%202011-03-29%20at%2018.58.12.png" />
  
  <p>The <a href="https://github.com/maccman/spine.rails3">last example</a> is a demonstration of integrating Spine &amp; Rails 3. There's also an example of realtime sync in the <a href="https://github.com/maccman/spine.rails3/tree/fowa">fowa</a> branch. <a href="http://spine-fowa.herokuapp.com/">[Demo]</a></p>
    
  <img src="https://lh4.googleusercontent.com/-vxBcOT0TIpM/ToNWaL-o83I/AAAAAAAABao/ObsGjxoX5oQ/s500/Screen%252520Shot%2525202011-09-27%252520at%25252022.16.41.png">
</article>