<header class="intro">
  <h2>Spine</h2>
  <h3>Build Awesome MVC<br /> JavaScript Applications</h3>
</header>

<article>
  <footer>
    <div class="bcta">
      <button>Download (version 1.1.1)</button>
    </div>
  </footer>
  
  <aside>
    <section>
      <header>Learning</header>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
    </section>
  
    <section>
      <header>Quality</header>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
    </section>
  
    <section>
      <header>Security</header>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
      <p>Foo bar Foo bar. Foo bar. </p>
    </section>
  </aside>
</article>