<% content_for(:title, "Build Awesome Javascript MVC Applications") %>

<header class="intro">
  <h2>Spine</h2>
  <h3>Build Awesome JavaScript<br /> MVC Applications</h3>
</header>

<article>
  <footer>
    <div class="bcta">
      <%= link_to "Download (version #{version})", pages_path("download"), :class => "cta" %>
    </div>
  </footer>
  
  <aside>
    <section>
      <header>MVC</header>
      <p>The Model View Controller pattern is at the heart of Spine, and absolutely integral to modern JavaScript applications.</p>
    </section>
    
    <section>
      <header>Simplicity</header>
      <p>Spine is a simple and lightweight framework, and doesn't consist of a vast amount of complex widgets to configure and theme.</p>
    </section>
    
    <section>
      <header>Documentation</header>
      <p>In addition to very approachable source code Spine strives to great documentation.</p>
    </section>
    
    <%= link_to "More information...", docs_url("introduction"), :class => "more" %>
  </aside>
</article>
