<header class="heading">
  <h2>Screencasts</h2>  
</header>

<article>


  <h3>Spine Contacts</h3>
  <p>
   Extending the <a href="https://github.com/maccman/spine.contacts">contacts</a> example, adding mobile and HTML5 geo location support. The screencast source code is <a href="https://gist.github.com/1275300">available here</a>. Watch in HD <a href="http://vimeo.com/30313002">on Vimeo</a>.
  </p>
  
<iframe src="http://player.vimeo.com/video/30313002?title=0&amp;byline=0&amp;portrait=0"  frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>

</article>