<header class="heading">
  <h2>Screencasts</h2>  
</header>

<article>

  <h3>Spine Contacts</h3>
  <p>
   Extending the <a href="https://github.com/maccman/spine.contacts">contacts</a> example, adding mobile and HTML5 geo location support. The screencast source code is <a href="https://gist.github.com/1275300">available here</a>. Watch in HD <a href="http://vimeo.com/30313002">on Vimeo</a>.
  </p>
  
  <iframe src="http://player.vimeo.com/video/30313002?title=0&amp;byline=0&amp;portrait=0"  frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  
  <hr />
  
  <h3>Spine &amp; Rails integration in 7 minutes</h3>
  <p>
    Integrate Spine and Rails via a JSON Ajax API using the <a href="https://github.com/maccman/spine-rails">spine-rails gem</a> and Spine scaffolding. Watch in HD <a href="http://vimeo.com/30976192">on Vimeo</a>.
  </p>
  
  <iframe src="http://player.vimeo.com/video/30976192?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  
  <hr />

  <h3>Infinite scrolling with Spine &amp; Rails</h3>
  
  <p>
    Infinitely scroll a list of pages by automatically loading in data from Rails via Ajax. The screencast source code is <a href="http://github.com/maccman/spine.infinite">available here</a>, and there's also a <a href="http://spine-infinite.herokuapp.com">live demo</a>. Watch in HD <a href="http://vimeo.com/30737866">on Vimeo</a>.
  </p>
    
  <iframe src="http://player.vimeo.com/video/30737866?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  
  <hr />
  
  <h3>Realtime with Spine &amp; Rails</h3>
  
  <p>
    Use WebSockets, <a href="http://pusher.com/">Pusher</a>, Rails and Spine to create a realtime synchronized application. The screencast source code is <a href="http://github.com/maccman/spine.realtime">available here</a>, and there's also a <a href="http://spine-realtime.herokuapp.com">live demo</a>. Watch in HD <a href="http://vimeo.com/30796067">on Vimeo</a>.
  </p>
  
  <iframe src="http://player.vimeo.com/video/30796067?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>

</article>