<% content_for(:title, "Welcome to Spine!") %>

<header class="heading">
  <h2>Welcome to Spine!</h2>  
</header>

<article>
 <h3>You've now got Spine and <%= link_to "Hem", docs_path("hem") %> successfully installed!</h3>
 
 <p>Here's how to get started:</p>
 
 <ol>
   <li>Read the <%= link_to "documentation", docs_path("introduction") %></li>
   <li>Look at the source of the <%= link_to "example applications", pages_path("examples") %></li>
   <li>Use <%= link_to "Spine.app", docs_path("app") %> to generate models and controllers</li>
   <li>Start building awesome applications!</li>
 </ol>
</article>