<header class="heading">
  <h2>Welcome to Spine Mobile!</h2>  
</header>

<article>
 <h3>You've now get Spine Mobile and <%= link_to "Hem", docs_path("hem") %> successfully installed!</h3>
 
 <p>Here's how to get started:</p>
 
 <ol>
   <li>Remove the start.js script in public/index.html</li>
   <li>Read the <%= link_to "documentation", mobile_path %></li>
   <li>Look at the source of the <%= link_to "example applications", mobile_path %></li>
   <li>Start building awesome applications!</li>
 </ol>
</article>