/*
 *= require theme
 *= require highlight
 *= require_self
*/

@import 'mixins'

body
  vbox()
  
h2
  font: 20px arial,lucida,helvetica,arial,sans-serif
  font-weight: normal

pre, code
  font-size: 12px; line-height: 18px
  font-family: Monaco, Consolas, "Lucida Console", monospace
  margin: 0; padding: 0

pre
  margin: 0 0 10px 15px
  width: 600px
  background: transparent
  overflow: auto
  
  code
    background: transparent
    
p
  margin: 0 0 10px 0
  line-height: 1.7em

#header h1
  border-top: 1px solid rgba(0, 0, 0, .5)
  border-bottom: 1px solid rgb(0, 0, 0)
  
  inset-line(0.1)
  vbg-gradient(lighten(#313335, 10%), lighten(#191B1C, 5%))
  color: #CCC
  text-shadow: 0 -1px #000

  height: 30px
  line-height: 30px
  padding: 0 10px
  margin: 0
  font-size: 18px
  
  a
    color: inherit
    text-shadow: inherit
  
#header h2
  inset-line(0.7)
  vbg-gradient(#F4F4F4, darken(#F4F4F4, 10%))
  padding: 0 5px
  margin: 0
  text-align: center
  
  height: 40px
  line-height: 40px
  border-bottom: 1px solid darken(#D1D1D1, 5%)

#article
  overflow: hidden
  box-flex(1)
  hbox()

#nav
  width: 220px
  background: #F4F4F4
  overflow: hidden
  text-align: right
  
  border-right: 1px solid lighten(#CCC, 40%)
  inset-box-shadow(-1px, -1px, 4px, rgba(0, 0, 0, 0.05))  
  
  h2
    margin: 25px 35px
    
  ul
    list-style: none
    text-align: right
    margin: 5px 35px
    font-size: 17px
    text-shadow: 0 1px 0 #FFF
    color: lighten(#52585D, 10%)
    
  li
    margin: 15px 0
    
  a
    color: inherit
  
#section
  background: #FFF
  padding: 25px 35px    
  
  font: 15px 'helvetica neue', helvetica, arial, sans-serif
  overflow: auto
  box-flex(1)
  vbox()
  
  p
    max-width: 500px
    
  h2
    font-size: 18px
    margin: 5px 0 5px 0
    line-height: 1.7em

body.docs-index #section
  article
    margin: 20px 0 0 20px
    overflow: hidden
    
    div
      width: 200px
      height: 50px
      float: left
      margin: 0 30px 20px 0
      
      h3
        margin: 5px 0
      
      span
        display: block
        